
.profile{
    position: absolute;
    width: 20rem;
    height: 30rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

    

}

.close{
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 10;
}

.close > img{
    width: 2rem;
    height: 2rem;
}

.content{
    text-align: center;
}
.content > h3{
    text-transform: uppercase;
    font-weight: bolder;
}

.image > img{
    border-radius: 50%;
    position: relative;
    z-index: 10;
}

.profile > h2{
    position: relative;
    z-index: 10;
}

.image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 35%;
    top: 0;
    left: 0;
    background-color: #04AA6D;
    z-index: 1;
}

.profile > .btn_grp > button:nth-child(2){
    background-color: red;
}